.body-wrapper {
    background-image: url("https://down-yuantu.pngtree.com/back_our/bg/20201024/bg/70dd671d671ca_438818.jpg?e=1676277800&st=MjI2MjgwNjAwZjFjYWIzOTZmMGM3Zjk5ZDAwMDNlZWM&n=%E2%80%94Pngtree%E2%80%94futuristic+shape+abstract+background+chemistry_1250295.jpg");
    width: 100%;
    height: 650px;
}

.form-wrapper {
    width: 80%;
}

.form-content-wrapper {
    background-color: rgb(196, 193, 193);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 36px;
    border-radius: 20px;
}

.joe {
    display: none;
}

.admin-wrapper {
    background-image: url("https://wallpaperaccess.com/full/16677.jpg");
    width: 100%;
    height: 650px;
}

.admin-form-wrapper {
    width: 80%;
}

.admin-content-wrapper {
    background-color: rgb(2, 0, 7);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 36px;
    border-radius: 20px;
    opacity: 0.9;

}

.image-holder{
    width: 30px;
    height: 30px;
}

body {
    background-color: rgb(102, 116, 238);
}

.modal-local {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .loader-local {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-local-content {
    width: 500px;
    width: 500px;
    background-color: #fff;
  }
  
  .modal-local-content-pay {
    width: 600px;
    width: 500px;
    background-color: #fff;
  }
  
  .modal-local-content-chat  {
    
    width: 720px;
    background-color: #fff;
  }
  .modal-local-content-review  {
    
    width: 480px;
    
    background-color: #fff;
  }
  .modal-local-header,
  .modal-local-footer {
    padding: 10px;
  }
  
  .modal-local-title {
    margin: 0;
  }
  
  .modal-local-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  
  .modal-local-body-pay {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  
  .local-wrapper {
    display: grid;
    /* height: 100vh; */
  
    place-items: center;
  }
